/*
Developer: Jose Miguel Espinoza Mestanza
Email: josemiguel.espinozamestanza@emeal.nttdata.com
*/
.cen-header-text {
    font-size: 1.1rem;
    font-weight: 600;
}
.cen-titulo-sustentos {
    font-family: "Salesforce Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}